<h2> You inputted length <%= @length %> and height <%= @height %> and width <%= @width %> and weight <%= @weight %></h2>

<h3>The volume of your package is <%= @volume %>
</h3>

<h3>The weight of your package is <%= @weight %>
</h3>

<h3>The cost of your package will be "$ <%= @price %>"
</h3>

<h3>The distance of your package will be <%= @distance %> miles
</h3>

<a href="/">
  <h4>link to home?</h4>
</a>

<img src="https://media1.giphy.com/media/eoIqbd2HHaKSQ/giphy.gif?cid=3640f6095bfc40956f504663732e56c5" alt="Postman Thumbs Up">
