<h2> You inputted length <%= @length %> and height <%= @height %> and width <%= @width %> and weight <%= @weight %></h2>

<h3>the volume of your package is <%= @volume %>
</h3>

<h3>the weight of your package is <%= @weight%>
</h3>

<a href="/">
  <h4>link to home?</h4>
</a>
